/* Estilos para o modal */
.modal {
    display: none;
    position: absolute;
    margin-left: 200px;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.829);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #474747c4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 80%;
}

/* Estilos para o botão de fechar */
.fechar {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.fechar:hover {
    color: red;
}
