#div-main {
    display: flex;
    flex-direction: column;
}

#yourTasks-title {
    margin: 0 auto;
    padding: 11px;
    text-align: center;
    color: rgb(228, 228, 228);
    font-size: x-large;
    width: 100%;
}

#container-button-addTasks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#button-addTasks {
    margin: 10px ;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    /* Cor de fundo */
    color: #fff;
    /* Cor do texto */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo quando o mouse passa por cima */
button:hover {
    background-color: #0056b3;
    /* Cor de fundo alterada */
}