<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>taskSync</title>
    
    <!-- Importando a biblioteca do Firebase Authentication -->
    <script type="module" src="https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.5.0/firebase-auth.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.5.0/firebase-firestore.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/CSS/global.css">

</head>

<body class="centralize">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/newAccount" method="post">
                <h1>Criar Conta</h1>
                <div class="social-container">
                    <button id="googleSignUpBtn" class="social"><i class="fab fa-google"></i></button>
                </div>             
                <span>ou use um email para criar a conta</span>
                <input type="text" placeholder="Name" id="nomeReg" name="name"/>
                <input type="text" placeholder="Email" id="emailReg" name="email"/>
                <input type="password" placeholder="Password" id="passReg" name="password" />
                <button type="submit" id="btnCadastrar" >Criar Conta</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>Entrar</h1>
                <div class="social-container">
                    <button id="googleLoginBtn" class="social"><i class="fab fa-google"></i></button>
                </div>               
                <span>Ou use sua conta</span>
                <input type="text" placeholder="Email" name="email" id="emailLog" />
                <input type="password" placeholder="Senha" id="passLog" name="password" />
                <a href="#">Esqueceu a senha?</a>
                <button type="submit" id="btnEntrar">Entrar</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Bem vindo de volta!</h1>
                    <p>Para continuar no TaskSync entre com seus dados pessoais</p>
                    <button class="ghost" id="signIn">Entrar</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Seja bem vindo!</h1>
                    <p>Entre com seus dados pessoais e volte para o TaskSync</p>
                    <button class="submit" id="signUp">Criar Conta</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="module" src="/js/firebase-config.js"></script>
    <script type="module" src="/js/index-firebase.js"></script>
    <script src="/js/button.js"></script>
    
</body>

</html>
