<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/common.css">
    
    <link rel="stylesheet" href="/CSS/sideBar.css">
    <link rel="stylesheet" href="/CSS/tasks.css">
    <title>Equipes</title>
</head>
<body>
    <script>
        fetch("/HTML/sideBar.html")
          .then(response => response.text())
          .then(data => {
            document.getElementById("sideBar").innerHTML = data;
          })
          .catch(error => {
            console.error("Erro ao buscar o conteúdo:", error);
          });
      </script>
      <div id="sideBar"></div>
</body>
</html>