<div class="navigation">
  <ul>
    <li>
      <a href="/home"><span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span><span
          class="title">Home</span></a>
    </li>
    <li>
      <a href="/account"><span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span><span
          class="title">Conta</span></a>
    </li>
    <li>
      <a href="/teams">
        <span class="icon">
          <i class="fa fa-users" aria-hidden="true"></i>
        </span>
        <span class="title">Equipes</span>
      </a>
    </li>
    <li>
      <div class="theme-switch">
        <input type="checkbox" id="darkModeToggle" class="toggle-checkbox">
        <label for="darkModeToggle" class="toggle-label">
          <div class="toggle-indicator"></div>
        </label>
      </div>
    </li>
    <li>
      <a href="/logout"><span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span><span
          class="title">Sair</span></a>
    </li>
  </ul>
</div>
<div class="toggle" onclick="toggleMenu()"></div>
<script src="/js/sidebar.js"></script>