
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
</head>
<body>

  <div class="user-profile">
    <h1>User Profile</h1>
    <div class="user-info">
      <div class="user-email">
        <strong>Email:</strong> <span id="email">{{userEmail}}</span>
      </div>
      <div class="user-name">
        <strong>Name:</strong> <span id="name">{{userName}}</span>
      </div>
    </div>
  </div>

</body>
</html>





