/* Estilos para o modal */
.modal {
    display: none;
    position: absolute;
    position: absolute;
    margin: 0 auto;
    top: 0;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.829);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #e5e2e2c4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    height: 80%;
    justify-content: center;
}

#button-addTasks{
    text-align: end;
    margin-top: 20px;
}


label {
    display: block;
    margin-bottom: 8px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}
