
.main {
    /* Light mode styles */
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.5s, color 0.5s;
}

.main.dark-mode {
    /* Dark mode styles */
    background-color: #1a1a1a;
    color: #ffffff;
}