body{
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.half {

    text-align: center;
    display: flex; /* Adicione flex para permitir o alinhamento vertical */
    flex-direction: column; /* Certifica-se de que os elementos sejam empilhados verticalmente */
    align-items: center; /* Centraliza verticalmente os elementos dentro da div */
    justify-content: center; /* Centraliza horizontalmente os elementos dentro da div */
    height: 100vh;
}

#half-right {
    width: 55%;
}

#half-left {
    background-color: #102c39;
    width: 45%;
    color: white;
}
.btn-success{
    width: 100%;
}
.text{
    margin: 15px;
}

