

#yourTasks-title {

    padding: 11px;
    text-align: center;
    color: #e7e7e7;
    width: 100%;
    font-weight: 700;
 
    width: 103%;
    margin: 0 auto;

}

#container-button-addTasks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#button-addTasks {
    margin: 10px ;
    
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ea1d63;
    /* Cor de fundo */
    color: rgb(218, 218, 218);
    /* Cor do texto */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo quando o mouse passa por cima */
button:hover {
    background-color: #ea1d6100;
    /* Cor de fundo alterada */
    color: rgb(197, 197, 197);
}

svg{
	fill: white;
}



.tasks-container svg{
    fill: #ea1d63;
}

.tasks-container svg:hover{
    fill: #af0f44
}

.tasks-container{

    box-shadow: 5px 4px 1px 0px rgb(20, 20, 20);
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color: #1b2733; /* rgba(29,41,53,255), #dfe4dd; */
    border-radius: 5px;
    border: 1px solid rgba(44,54,66,255); /* Largura da borda e tipo de borda */
}



.tasks-container p{
    margin: 5px;
    color: rgb(224, 224, 224);
    font-weight: 900
}

#task-header, #task-content, #task-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-buttons{
    display: flex;
}

#edit-button{
    background-color: transparent;
    margin: 5px;
    padding: 0;
}



