#div-main {
    display: flex;
    flex-direction: column;
}

#yourTasks-title {
    margin: 0 auto;
    padding: 11px;
    text-align: center;
    color: rgb(105, 105, 105);
    font-size: xx-large;
    width: 100%;
}

#container-button-addTasks {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#button-addTasks {
    margin: 10px ;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ea1d63;
    /* Cor de fundo */
    color: rgb(218, 218, 218);
    /* Cor do texto */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo quando o mouse passa por cima */
button:hover {
    background-color: #ea1d6100;
    /* Cor de fundo alterada */
    color: rgb(197, 197, 197);
}

svg{
    fill: rgb(218, 218, 218);
}

svg:hover{
    fill: #ea1d63
}

.tasks-container{
    border-top: 2px solid rgb(19, 19, 19);
    padding: 10px;
    margin: 10px;
    align-items: center;
    background-color: #0f010f;
    border-radius: 2px;
}

.tasks-container p{
    margin: 5px;
    color: rgb(218, 218, 218);
}

#task-header, #task-content, #task-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-buttons{
    display: flex;
}

#edit-button{
    background-color: transparent;
    margin: 5px;
    padding: 0;
}



