.teamSideBar {
    position: fixed;
    /* Ajuste o left para 0 para alinhar à esquerda */
    left: 0;
    margin-left: 60px;
    height: 100%;
    background: #67386f;

    padding: 10px;
  }

.teamSideBar ul {

	width: 100%;

}
.teamSideBar li {
    color: white;
	list-style: none;
}
