@import "divMain.css";


.custom-margin-right {
  margin-right: 110px;
}

.ui-w-80 {
  width : 80px !important;
  height: auto;
}

.btn-default {
  border-color: rgba(212, 14, 14, 1);
  background  : transparent;
  color       : rgba(212, 14, 14, 1);
}

label.btn {
  margin-bottom: 0;
}

.btn-outline-primary {
  border-color: #26B4FF;
  background  : transparent;
  color       : #26B4FF;
}

.btn {
  cursor: pointer;
}

.text-light {
  color: #babbbc !important;
}


.card {
  background-clip: padding-box;
  box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.account-settings-fileinput {
  position  : absolute;
  visibility: hidden;
  width     : 1px;
  height    : 1px;
  opacity   : 0;
}

.account-settings-links .list-group-item.active {
  font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect~.select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
  padding     : 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}


/* checkbox dark toggle */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.5s, color 0.5s;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.dark-mode body {
  background-color: #333;
  color: #fff;
}

.dark-mode .slider {
  background-color: #555;
}

.dark-mode input:checked + .slider {
  background-color: #4CAF50;
}

.dark-mode input:focus + .slider {
  box-shadow: 0 0 1px #4CAF50;
}
